# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/
*.lcov

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.production
.env.test

# Vercel
.vercel

# Turbo
.turbo

# Prisma
**/prisma/migrations/dev/

# NestJS
*.local

# Storybook
storybook-static/

# Logs
logs/
*.log

# Docker
docker/data/

# OS
Thumbs.db
